<div class="header">
  <div></div>
  <h1>Northwest Kansas Speedway</h1>
  <div></div>
</div>

<div class="main-div">
  <div class="driver">
    <h1>Driver 1</h1>
    <div class="info">
      <p>Randy Peterson</p>
      <p>#24</p>
    </div>
    <h2>Toyota</h2>
  </div>
  <div class="driver">
    <h1>Driver 2</h1>
    <div class="info">
      <p>Jeff Davis</p>
      <p>#47</p>
    </div>
    <h2>Dodge</h2>
  </div>
  <div class="driver">
    <h1>Driver 3</h1>
    <div class="info">
      <p>Ryan Carlson</p>
      <p>#47</p>
    </div>
    <h2>Chevy</h2>
  </div>
</div>
